[user]
  name = AUTHOR_NAME
  email = AUTHOR_EMAIL
[github]
  user = AUTHOR_HANDLE
[credential]
  helper = GIT_CREDENTIAL_HELPER
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[core]
  excludesfile = ~/.gitignore
  editor = nvim
[difftool]
  prompt = false
[mergetool]
  prompt = false
[push]
  default = upstream
[hub]
  protocol = https
